In [1]:
%tensorflow_version 2.x
import tensorflow as tf
print("Tensorflow version " + tf.__version__)

try:
  tpu = tf.distribute.cluster_resolver.TPUClusterResolver()  # TPU detection
  tf.config.experimental_connect_to_cluster(tpu)
  tf.tpu.experimental.initialize_tpu_system(tpu)
  tpu_strategy = tf.distribute.experimental.TPUStrategy(tpu)
  print('Running on TPU ', tpu.cluster_spec().as_dict()['worker'])
except ValueError:
  raise BaseException('ERROR: Not connected to a TPU runtime; please see the previous cell in this notebook for instructions!')

from google.colab import drive
drive.mount('/content/drive')

Tensorflow version 2.8.0
INFO:tensorflow:Deallocate tpu buffers before initializing tpu system.

INFO:tensorflow:Deallocate tpu buffers before initializing tpu system.

INFO:tensorflow:Initializing the TPU system: grpc://10.27.140.98:8470

INFO:tensorflow:Initializing the TPU system: grpc://10.27.140.98:8470

INFO:tensorflow:Finished initializing TPU system.

INFO:tensorflow:Finished initializing TPU system.
WARNING:absl:`tf.distribute.experimental.TPUStrategy` is deprecated, please use  the non experimental symbol `tf.distribute.TPUStrategy` instead.

INFO:tensorflow:Found TPU system:

INFO:tensorflow:Found TPU system:

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

Running on TPU  ['10.27.140.98:8470']

In [20]:
# multivariate multi-step stacked lstm example
from numpy import array
from numpy import hstack
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
import matplotlib.pyplot as plt
from pandas import read_csv
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from keras.layers.core import Dense, Activation, Dropout
from datetime import datetime
import time
from keras.activations import *
import tensorflow as tf
import os
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
os.environ['CUDA_VISIBLE_DEVICES'] = '0'
#sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))
scaler  = MinMaxScaler()
df_train =0
df_test  =0
carpan =1
name   ="M1_hazirVeri_toplu_2008-2022_dongulu"
dbname ="M1_2008-2022_df_dongulu" #"M1_dataframes_4March_dongulu"

"""def TimeStamps(dataframe_Date):
    dTime = dataframe_Date
    if name == ('Weekly'or 'Daily' or 'Monthly'):
        return pd.DataFrame(array([datetime.strptime((dTime[i]),'%Y %m %d').timestamp() for i in range(len(dTime))]))#%H:%M:%S
    else :
        return pd.DataFrame(array([datetime.strptime((dTime[i]),'%Y %m %d %H %M %S').timestamp() for i in range(len(dTime))]))
"""
import dill
try:
    """
    df = read_csv('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv', engine='python')
    #df_test  = read_csv('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv', engine='python')
    #df_train['Date'] = TimeStamps(df_train['Date'])
    #df_test['Date']  = TimeStamps(df_test['Date'])
    dill.dump_session('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    """
    dill.load_session('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    
except:
    """
    df = read_csv('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv', engine='python')
    #df_test  = read_csv('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv' , engine='python')
    #df_train['Date'] = TimeStamps(df_train['Date'])
    #df_test['Date']  = TimeStamps(df_test['Date'])
    dill.dump_session('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    """
    dill.load_session('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    
df

         Unnamed: 0     Open     High      Low    Close      sin      cos
0                 0  1.40760  1.40760  1.40760  1.40760  0.90759  4.82194
1                 1  1.40740  1.40750  1.40740  1.40750  1.00531  4.78443
2                 2  1.40760  1.40810  1.40760  1.40800  1.09857  4.73691
3                 3  1.40810  1.40850  1.40790  1.40820  1.18636  4.67990
4                 4  1.40830  1.40970  1.40830  1.40920  1.26770  4.61402
...             ...      ...      ...      ...      ...      ...      ...
4871851     4871851  1.12726  1.12728  1.12714  1.12718  0.97922  3.44564
4871852     4871852  1.12716  1.12720  1.12712  1.12712  1.03623  3.53343
4871853     4871853  1.12716  1.12718  1.12713  1.12715  1.10211  3.61477
4871854     4871854  1.12715  1.12728  1.12711  1.12725  1.17612  3.68878
4871855     4871855  1.12726  1.12726  1.12714  1.12716  1.25746  3.75466

[4871856 rows x 7 columns]

In [21]:
sin = df['sin']
cos = df['cos']
open = df['Open']
high = df['High']
low = df['Low']
close = df['Close']

giris =2
cikis=4


date =  pd.concat([sin,cos],axis=1)
if(giris==3):
  date = pd.concat([sin,cos,open],axis=1)
sec =  pd.concat([open,high,low,close],axis=1)
if(cikis==3):
  sec =  pd.concat([high,low,close],axis=1)
  
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(date,sec,train_size=0.33,shuffle=False)

In [22]:
X_test

             sin      cos
1607712  2.14985 -0.73387
1607713  2.23764 -0.79088
1607714  2.31898 -0.85676
1607715  2.39299 -0.93077
1607716  2.45887 -1.01211
...          ...      ...
4871851  0.97922  3.44564
4871852  1.03623  3.53343
4871853  1.10211  3.61477
4871854  1.17612  3.68878
4871855  1.25746  3.75466

[3264144 rows x 2 columns]

In [25]:
model = Sequential()
units=2
dense=cikis

print("Set Mode train shape 0 : ",X_train.shape[0])
model.add(LSTM(units, activation='relu',input_shape=(X_train.shape[1],giris)))
print("Orjinal Shape X_train:",X_train.shape)
print("Yeni Shape X_train :",X_train.shape)
print("Orjinal Shape X_test:",X_test.shape)
print("Yeni Shape X_test :",X_test.shape)
print("Orjinal Shape y_train:",y_train.shape)
print("Yeni Shape y_train :",y_train.shape)
print("Orjinal Shape y_train:",y_test.shape)
print("Yeni Shape y_train :",y_test.shape)




X_train = np.array(X_train).reshape((len(X_train),1,giris))
X_test = np.array(X_test).reshape((len(X_test),1,giris))
y_train = np.array(y_train).reshape((len(y_train),1,cikis))
y_test = np.array(y_test).reshape((len(y_test),1,cikis))
#model.add(Dense(256*4))
#model.add(Dropout(0.2))
#model.add(Dense(256*2))
#model.add(Dropout(0.2))
#model.add(Dense(256))
#model.add(Dropout(0.2))
#model.add(Dense(256))
model.add(Dropout(0.2))
model.add(Dense(128))
model.add(Dropout(0.5))
model.add(Dense(64))
model.add(Dense(cikis))
opt = tf.keras.optimizers.SGD(learning_rate=0.0001)
model.compile(optimizer=opt, loss='mse', metrics=['accuracy'])
print(model.summary())

Set Mode train shape 0 :  1607712
Orjinal Shape X_train: (1607712, 1, 2)
Yeni Shape X_train : (1607712, 1, 2)
Orjinal Shape X_test: (3264144, 1, 2)
Yeni Shape X_test : (3264144, 1, 2)
Orjinal Shape y_train: (1607712, 1, 4)
Yeni Shape y_train : (1607712, 1, 4)
Orjinal Shape y_train: (3264144, 1, 4)
Yeni Shape y_train : (3264144, 1, 4)
Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 2)                 40

 dropout_8 (Dropout)         (None, 2)                 0

 dense_12 (Dense)            (None, 128)               384

 dropout_9 (Dropout)         (None, 128)               0

 dense_13 (Dense)            (None, 64)                8256

 dense_14 (Dense)            (None, 4)                 260

=================================================================
Total params: 8,940
Trainable params: 8,940
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
#for i in range(100):
history = model.fit(X_train,y_train, epochs=10,batch_size=4096,validation_data=(X_test,y_test))  
predict = model.predict(X_test)#.round(5)
print(predict,y_test)

Epoch 1/10
393/393 [==============================] - 42s 103ms/step - loss: 1.6619 - accuracy: 0.1684 - val_loss: 1.1109 - val_accuracy: 0.0766
Epoch 2/10
393/393 [==============================] - 40s 101ms/step - loss: 1.3605 - accuracy: 0.1294 - val_loss: 0.8754 - val_accuracy: 0.0148
Epoch 3/10
393/393 [==============================] - 39s 99ms/step - loss: 1.1065 - accuracy: 0.1180 - val_loss: 0.6796 - val_accuracy: 0.0043
Epoch 4/10
393/393 [==============================] - 40s 103ms/step - loss: 0.8911 - accuracy: 0.1167 - val_loss: 0.5169 - val_accuracy: 0.0011
Epoch 5/10
393/393 [==============================] - 42s 107ms/step - loss: 0.7085 - accuracy: 0.1198 - val_loss: 0.3834 - val_accuracy: 8.6404e-05
Epoch 6/10
393/393 [==============================] - 39s 100ms/step - loss: 0.5555 - accuracy: 0.1257 - val_loss: 0.2761 - val_accuracy: 0.0000e+00
Epoch 7/10
155/393 [==========>...................] - ETA: 15s - loss: 0.4637 - accuracy: 0.1308

h1 units 16 1.8535e-06
h1 units 32 1.9282e-06

In [ ]:
predict = model.predict(X_test)#.round(5)

In [ ]:
predict,y_test

In [ ]:
print(predict)
print(((predict-y_test)))#.round(5)
predict = scaler.inverse_transform(predict)
y_test  = scaler.inverse_transform(y_test)

fark2 = predict[:50]-y_test[:50]

predict = pd.DataFrame(((predict)),columns=['High_Predict','Low_Predict','Close_Predict'])
y_test = pd.DataFrame(((y_test)),columns=['High_Reel','Low_Reel','Close_Reel'])
X_test = pd.DataFrame(((X_test)),columns=['Open'])


found  = pd.concat([X_test,predict],axis=1)
expect = pd.concat([X_test,y_test],axis=1)
print((predict[i]/carpan).round(5),(y_test[i]/carpan).round(5))
print(fark2,"\n \n",expect,"\n \n",found)

In [ ]:
test= X_test.reshape(56086,2)
yy   = y_test.reshape(56086,3)
pre = np.array(predict).reshape(56086,3)
plt.plot(test[0],[yy[0],yy[1],yy[2]],color='blue')
plt.plot(test[0],[pre[0],pre[1],pre[2]],color='red')

In [ ]:
yeni = np.array([1.09160])

model.predict(yeni.reshape(-1,1))#.round(5)

In [ ]:
#from tensorflow.python.client import device_lib
#import tensorflow as tf
#tf.debugging.set_log_device_placement(True)
#print(device_lib.list_local_devices())