In [1]:
%tensorflow_version 2.x
import tensorflow as tf
print("Tensorflow version " + tf.__version__)

try:
  tpu = tf.distribute.cluster_resolver.TPUClusterResolver()  # TPU detection
  tf.config.experimental_connect_to_cluster(tpu)
  tf.tpu.experimental.initialize_tpu_system(tpu)
  tpu_strategy = tf.distribute.experimental.TPUStrategy(tpu)
  print('Running on TPU ', tpu.cluster_spec().as_dict()['worker'])
except ValueError:
  raise BaseException('ERROR: Not connected to a TPU runtime; please see the previous cell in this notebook for instructions!')

from google.colab import drive
drive.mount('/content/drive')

Tensorflow version 2.8.0
INFO:tensorflow:Deallocate tpu buffers before initializing tpu system.

INFO:tensorflow:Deallocate tpu buffers before initializing tpu system.

INFO:tensorflow:Initializing the TPU system: grpc://10.27.140.98:8470

INFO:tensorflow:Initializing the TPU system: grpc://10.27.140.98:8470

INFO:tensorflow:Finished initializing TPU system.

INFO:tensorflow:Finished initializing TPU system.
WARNING:absl:`tf.distribute.experimental.TPUStrategy` is deprecated, please use  the non experimental symbol `tf.distribute.TPUStrategy` instead.

INFO:tensorflow:Found TPU system:

INFO:tensorflow:Found TPU system:

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Cores: 8

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Workers: 1

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Num TPU Cores Per Worker: 8

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:localhost/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:1, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:2, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:3, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:4, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:5, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:6, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:7, TPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU_SYSTEM:0, TPU_SYSTEM, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:XLA_CPU:0, XLA_CPU, 0, 0)

Running on TPU  ['10.27.140.98:8470']

In [38]:
# multivariate multi-step stacked lstm example
from numpy import array
from numpy import hstack
from keras.models import Sequential
from keras.layers import LSTM
from keras.layers import Dense
import matplotlib.pyplot as plt
from pandas import read_csv
import math
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from keras.layers.core import Dense, Activation, Dropout
from datetime import datetime
import time
from keras.activations import *
import tensorflow as tf
import os
os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
os.environ['CUDA_VISIBLE_DEVICES'] = '0'
#sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))
scaler  = MinMaxScaler()
df_train =0
df_test  =0
carpan =1
name   ="M1_hazirVeri_toplu_2008-2022_dongulu"
dbname ="M1_2008-2022_df_dongulu" #"M1_dataframes_4March_dongulu"

"""def TimeStamps(dataframe_Date):
    dTime = dataframe_Date
    if name == ('Weekly'or 'Daily' or 'Monthly'):
        return pd.DataFrame(array([datetime.strptime((dTime[i]),'%Y %m %d').timestamp() for i in range(len(dTime))]))#%H:%M:%S
    else :
        return pd.DataFrame(array([datetime.strptime((dTime[i]),'%Y %m %d %H %M %S').timestamp() for i in range(len(dTime))]))
"""
import dill
try:
    """
    df = read_csv('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv', engine='python')
    #df_test  = read_csv('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv', engine='python')
    #df_train['Date'] = TimeStamps(df_train['Date'])
    #df_test['Date']  = TimeStamps(df_test['Date'])
    dill.dump_session('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    """
    dill.load_session('/content/drive/Othercomputers/2022 Masaüstü 2/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    
except:
    """
    df = read_csv('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv', engine='python')
    #df_test  = read_csv('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/EURUSD_'+name+'.csv' , engine='python')
    #df_train['Date'] = TimeStamps(df_train['Date'])
    #df_test['Date']  = TimeStamps(df_test['Date'])
    dill.dump_session('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    """
    dill.load_session('C:/Users/ertad/Dersler 2022/Dersler-2021-2022-Donem-2/Lisans Github/'+dbname+'.db')
    
df

         Unnamed: 0     Open     High      Low    Close      sin      cos
0                 0  1.40760  1.40760  1.40760  1.40760  0.90759  4.82194
1                 1  1.40740  1.40750  1.40740  1.40750  1.00531  4.78443
2                 2  1.40760  1.40810  1.40760  1.40800  1.09857  4.73691
3                 3  1.40810  1.40850  1.40790  1.40820  1.18636  4.67990
4                 4  1.40830  1.40970  1.40830  1.40920  1.26770  4.61402
...             ...      ...      ...      ...      ...      ...      ...
4871851     4871851  1.12726  1.12728  1.12714  1.12718  0.97922  3.44564
4871852     4871852  1.12716  1.12720  1.12712  1.12712  1.03623  3.53343
4871853     4871853  1.12716  1.12718  1.12713  1.12715  1.10211  3.61477
4871854     4871854  1.12715  1.12728  1.12711  1.12725  1.17612  3.68878
4871855     4871855  1.12726  1.12726  1.12714  1.12716  1.25746  3.75466

[4871856 rows x 7 columns]

In [56]:
sin = df['sin']
cos = df['cos']
open = df['Open']#*100
high = df['High']#*100
low = df['Low']#*100
close = df['Close']#*100

giris=2
cikis=4


date =  pd.concat([sin,cos],axis=1)
if(giris==3):
  date = pd.concat([sin,cos,open],axis=1)
sec =  pd.concat([open,high,low,close],axis=1)
if(cikis==3):
  sec =  pd.concat([high,low,close],axis=1)
  
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(date,sec,train_size=0.33,shuffle=False)

In [57]:
y_train

            Open     High      Low    Close
0        1.40760  1.40760  1.40760  1.40760
1        1.40740  1.40750  1.40740  1.40750
2        1.40760  1.40810  1.40760  1.40800
3        1.40810  1.40850  1.40790  1.40820
4        1.40830  1.40970  1.40830  1.40920
...          ...      ...      ...      ...
1607707  1.29705  1.29711  1.29692  1.29698
1607708  1.29698  1.29703  1.29691  1.29699
1607709  1.29695  1.29710  1.29680  1.29692
1607710  1.29694  1.29723  1.29694  1.29722
1607711  1.29721  1.29769  1.29721  1.29748

[1607712 rows x 4 columns]

In [64]:
model = Sequential()
units=giris
dense=cikis

print("Set Mode train shape 0 : ",X_train.shape[0])
model.add(Dense(units, activation='relu',input_shape=(X_train.shape[1],giris)))
print("Orjinal Shape X_train:",X_train.shape)
print("Yeni Shape X_train :",X_train.shape)
print("Orjinal Shape X_test:",X_test.shape)
print("Yeni Shape X_test :",X_test.shape)
print("Orjinal Shape y_train:",y_train.shape)
print("Yeni Shape y_train :",y_train.shape)
print("Orjinal Shape y_train:",y_test.shape)
print("Yeni Shape y_train :",y_test.shape)




X_train = np.array(X_train).reshape((len(X_train),1,giris))
X_test = np.array(X_test).reshape((len(X_test),1,giris))
y_train = np.array(y_train).reshape((len(y_train),1,cikis))
y_test = np.array(y_test).reshape((len(y_test),1,cikis))
#model.add(Dense(256*4))
#model.add(Dropout(0.2))
#model.add(Dense(256*2))
#model.add(Dropout(0.2))
#model.add(Dense(256))
#model.add(Dropout(0.2))
#model.add(Dense(256))
model.add(Dropout(0.2))
model.add(Dense(2))
model.add(Dropout(0.5))
model.add(Dense(2))
model.add(Dense(cikis))
opt = tf.keras.optimizers.SGD(learning_rate=0.00001)
model.compile(optimizer=opt, loss='mse', metrics=['accuracy'])
print(model.summary())

Set Mode train shape 0 :  1607712
Orjinal Shape X_train: (1607712, 1, 2)
Yeni Shape X_train : (1607712, 1, 2)
Orjinal Shape X_test: (3264144, 1, 2)
Yeni Shape X_test : (3264144, 1, 2)
Orjinal Shape y_train: (1607712, 1, 4)
Yeni Shape y_train : (1607712, 1, 4)
Orjinal Shape y_train: (3264144, 1, 4)
Yeni Shape y_train : (3264144, 1, 4)
Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_47 (Dense)            (None, 1, 2)              6

 dropout_28 (Dropout)        (None, 1, 2)              0

 dense_48 (Dense)            (None, 1, 2)              6

 dropout_29 (Dropout)        (None, 1, 2)              0

 dense_49 (Dense)            (None, 1, 2)              6

 dense_50 (Dense)            (None, 1, 4)              12

=================================================================
Total params: 30
Trainable params: 30
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
#for i in range(100):
history = model.fit(X_train,y_train, epochs=10,batch_size=1024*2,validation_data=(X_test,y_test))  
predict = model.predict(X_test[-50:])#.round(5)
print(predict,y_test)

Epoch 1/10
786/786 [==============================] - 13s 16ms/step - loss: 0.9831 - accuracy: 0.0010 - val_loss: 0.5956 - val_accuracy: 0.0011
Epoch 2/10
786/786 [==============================] - 12s 16ms/step - loss: 0.9648 - accuracy: 9.6286e-04 - val_loss: 0.5817 - val_accuracy: 9.0008e-04
Epoch 3/10
786/786 [==============================] - 12s 16ms/step - loss: 0.9480 - accuracy: 0.0010 - val_loss: 0.5681 - val_accuracy: 8.3942e-04
Epoch 4/10
786/786 [==============================] - 12s 15ms/step - loss: 0.9309 - accuracy: 9.3922e-04 - val_loss: 0.5548 - val_accuracy: 7.6682e-04
Epoch 5/10
786/786 [==============================] - 12s 15ms/step - loss: 0.9143 - accuracy: 8.6272e-04 - val_loss: 0.5419 - val_accuracy: 6.8839e-04
Epoch 6/10
786/786 [==============================] - 12s 15ms/step - loss: 0.8985 - accuracy: 7.7937e-04 - val_loss: 0.5292 - val_accuracy: 4.1328e-04
Epoch 7/10
786/786 [==============================] - 12s 15ms/step - loss: 0.8824 - accuracy: 8.1544e-04 - val_loss: 0.5169 - val_accuracy: 9.0682e-05
Epoch 8/10
786/786 [==============================] - 12s 15ms/step - loss: 0.8670 - accuracy: 7.2214e-04 - val_loss: 0.5047 - val_accuracy: 3.0636e-07
Epoch 9/10
102/786 [==>...........................] - ETA: 6s - loss: 0.8594 - accuracy: 6.9413e-04

h1 units 16 1.8535e-06
h1 units 32 1.9282e-06

In [31]:
predict = model.predict(X_test[-50:])#.round(5)

In [32]:
predict,y_test

(array([[ 0.13939688,  0.02812474, -0.02278779,  0.2658507 ],
        [ 0.12494669,  0.03829055, -0.00070475,  0.23523912],
        [ 0.11017578,  0.04868205,  0.0218685 ,  0.2039479 ],
        [ 0.0952998 ,  0.05914745,  0.0446023 ,  0.17243427],
        [ 0.08053289,  0.06953607,  0.06716934,  0.14115179],
        [ 0.06608976,  0.07969692,  0.08924162,  0.11055508],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.05632427,  0.08656705,  0.10416543,  0.08986761],
        [ 0.06362071,  0.08143396,  0.09301488,  0.10532457],
        [ 0.07459262,  0.07371511,  0.07624739,  0.12856773],
        [ 0.08559092,  0.06597769,  0.05943955,  0.1518668 ],
        [ 0.09654599,  0.05827072,  0.04269778,  0.17507434],
        [ 0.10740002,  0.0506348 ,  0.02611047,  0.19806775],
        [ 0.11810677,  0.04310251,  0.00974819,  0.2207492 ],
        [ 0.12863013,  0.03569928, -0.00633377,  0.24304208],
        [ 0.13893637,  0.0284487 , -0.02208406,  0.26487523],
        [ 0.14899236,  0.0213742 , -0.03745182,  0.28617805],
        [ 0.15876424,  0.01449961, -0.05238547,  0.30687904],
        [ 0.16821162,  0.00785339, -0.06682299,  0.32689252],
        [ 0.17728439,  0.00147054, -0.08068814,  0.3461125 ],
        [ 0.18592443, -0.00460785, -0.09389213,  0.3644159 ],
        [ 0.19405945, -0.01033084, -0.10632413,  0.38164923],
        [ 0.20160545, -0.01563953, -0.11785612,  0.3976348 ],
        [ 0.2084667 , -0.02046644, -0.1283416 ,  0.41216996],
        [ 0.21453582, -0.02473617, -0.13761657,  0.42502683],
        [ 0.2196981 , -0.02836786, -0.14550583,  0.4359627 ],
        [ 0.22383583, -0.03127887, -0.15182918,  0.4447284 ],
        [ 0.22682899, -0.03338452, -0.15640321,  0.45106894],
        [ 0.22856732, -0.03460745, -0.15905976,  0.45475155],
        [ 0.22895038, -0.03487698, -0.15964529,  0.45556313]],
       dtype=float32), array([[[1.29749, 1.29752, 1.29728, 1.29737]],

        [[1.29738, 1.29769, 1.29738, 1.29744]],

        [[1.29744, 1.29751, 1.29695, 1.29697]],

        ...,

        [[1.12716, 1.12718, 1.12713, 1.12715]],

        [[1.12715, 1.12728, 1.12711, 1.12725]],

        [[1.12726, 1.12726, 1.12714, 1.12716]]]))

In [ ]:
print(predict)
print(((predict-y_test)))#.round(5)
predict = scaler.inverse_transform(predict)
y_test  = scaler.inverse_transform(y_test)

fark2 = predict[:50]-y_test[:50]

predict = pd.DataFrame(((predict)),columns=['High_Predict','Low_Predict','Close_Predict'])
y_test = pd.DataFrame(((y_test)),columns=['High_Reel','Low_Reel','Close_Reel'])
X_test = pd.DataFrame(((X_test)),columns=['Open'])


found  = pd.concat([X_test,predict],axis=1)
expect = pd.concat([X_test,y_test],axis=1)
print((predict[i]/carpan).round(5),(y_test[i]/carpan).round(5))
print(fark2,"\n \n",expect,"\n \n",found)

In [ ]:
test= X_test.reshape(56086,2)
yy   = y_test.reshape(56086,3)
pre = np.array(predict).reshape(56086,3)
plt.plot(test[0],[yy[0],yy[1],yy[2]],color='blue')
plt.plot(test[0],[pre[0],pre[1],pre[2]],color='red')

In [ ]:
yeni = np.array([1.09160])

model.predict(yeni.reshape(-1,1))#.round(5)

In [ ]:
#from tensorflow.python.client import device_lib
#import tensorflow as tf
#tf.debugging.set_log_device_placement(True)
#print(device_lib.list_local_devices())